.service-details-modal-container {
  padding: 32px;
  background-color: #fff;
}

.service-details-modal-heading {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 24px;
  color: #2a3434;
  border-bottom: 1px solid #e3e4e4;
}
