
@import "./styles/variables.scss";
@import "./styles/summary.scss";
@import "./styles/current-incidents.scss";
@import "./styles/toolbar.scss";
@import "./styles/suggested.scss";

#root {
    background-color: #fff;
}

.minor {
    color: $minorColor;
}

.major {
    color: $majorColor
}
.critical {
    color: $criticalColor;
}

.status-page-container {
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    color:#616161;
}

.status-container {
    padding: 14px;
    grid-row-gap: 16px;
}

.no-status-pages {
    padding-top: 20%
}

.status-page-wrapper {
    border-radius: $summaryBorderRadius;
    background: $headerBackgroundColor;

    .status-page-container {
        background: white;
        border-radius: $summaryBorderRadius;
        border: 1px solid $statusPageBorder;
    }
}

.status-page-name {
    color: #464e4e;
    font-weight: 600;
}

.summary-current-status {
    color: #2a3434;
    font-size: 14px;
}


.modal-container {
    display: inline;
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    color: #616161;
}

.modal-text-add-container{
    display: flex;
}

.AAB0AC-wnd-InnerModal {
    padding: 10px;
    .tag-container {
        max-width: 93%;
        width: 93%;
    }
    .modal-list-item {
        max-width: 78%;
    }
    .text-field-flex {
        flex: none;
    }
}
.modal-list {
    list-style: none;
    max-width: 100%;
}

.modal-list-title {
    padding-bottom: 36px;
    text-align: center;
}

.modal-list-container {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}

.modal-list-item {
    display: flex;
    border-bottom: 1px $headerBackgroundColor solid;
    .selected {
        background-color: #A2E572 !important;
    }
}

.modal-list-item-name {
    flex: 16;
    padding-top: 10px;
    word-wrap: break-word;
}

.modal-list-item-delete {
    flex: 1;
    float: right;
    opacity: .7;
    min-width: $summaryBorderRadius;
    min-height: $summaryBorderRadius;
    font-size: $summaryBorderRadius;
    padding: 0;
}



.configure-status-page-container,.suggested-status-dependencies-container {
    padding: 15%;
    .button-bar {
        background-color: $headerBackgroundColor;
        border-radius: 4px;
        .btn-white {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    .modal-button {
        margin: 0px 3px 0px 0px;
    }


    .modal-saved {
        border-radius: 29px;
        border: 2px solid $saveGreen;
        background: $saveGreen;
        color: $textColorInvert;
        font-size: large;
        text-align: center;
        margin-bottom: 20px;
        .ic-Icon {
            padding-bottom: 4px;
            padding-left: 4px;
        }
    }

    .modal-saved-hide {
        transition: opacity .3s ease-in-out;
        opacity: 0;
    }

    .modal-saved-show {
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }

    .add-status-page-config {
        padding-top: 26px;
    }
    .btn-add-dep-type {
        padding: 0px 16px 8px 16px;
    }
}

.status-page-container.status-none {
    border-color: #77D375;

    .summary-container {
        border-color: #77D375;
        background-color: #F2FCF3;
    }

    .status-page-name {
        color: #1B7B19;
    }

    .summary-current-status {
        color: #1B7B19;
    }
}

.status-page-container.status-minor {
    border-color: #E0CDA4;

    .summary-container {
        border-color: #E0CDA4;
        background-color: #FFF4D1;
    }

    .status-page-name {
        color: #7E500B;
    }

    .summary-current-status {
        color: #7E500B;
    }
}

.status-page-container.status-major {
    border-color: #C84857;

    .summary-container {
        border-color: #C84857;
        background-color: #FCF2F3;
    }

    .status-page-name {
        color: #BF0016;
    }

    .summary-current-status {
        color: #BF0016;
    }
}

.status-page-container.status-critical {
    border-color: #bf0015;

    .summary-container {
        border-color: #bf0015;
        background-color: #bf0015;
    }

    .status-page-name {
        color: #fff;
    }

    .summary-current-status {
        color: #fff;
    }
}