.btn-white, .btn-white:hover, .btn-white:active, .btn-white:focus {
    opacity: 0.6;
    background-color: white !important;
    border-width: 0 !important;
    box-shadow: none;
}

.summary-container {
    width: 100%;
    height: 100%
}

.summary-header {
    background-color: $headerBackgroundColor;
    color: black;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: $summaryBorderRadius;
}

.summary-content {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
}

.summary-current-status {
    display: inline-block;
    font-size: 2.5em;
    line-height: 2em;
    min-height: 50px;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
