

.text-field-flex {
    flex: 3;
}

.toolbar-container {
    width: 100%;
    background-color: $headerBackgroundColor;
    display: inline-block;
}

.toolbar-dropdown {
    float: left;
    padding-right: 10px;
}

.btn-toolbar, .btn-toolbar:hover, .btn-toolbar:active, .btn-toolbar:focus {
    background-color: $headerBackgroundColor !important;
    border-width: 0 !important;
    box-shadow: none;
    padding: 0px 16px 8px 16px;
}

// Dot Css for key
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot-header {
    float: right;
    padding-top: 4px;
}

.dot-name {
    display: inline-block;
    padding-left: 4px;
}

.dot-container {
    display: inline-block;
    padding: 3px;
}

.dot.none {
    background-color: $noneColor;
}

.dot.minor {
    background-color: $minorColor;
}

.dot.major {
    background-color: $majorColor;
}

.dot.critical {
    background-color: $criticalColor;
}
