$headerBackgroundColor: #f7f7f8;
$noneColor:             #000000;
$minorColor:            #e3e400;
$majorColor:            #fdc238;
$criticalColor:         #bd071f;
$saveGreen:             #6cd841;
$textColorInvert:       #ffffff;
$statusPageBorder:      #D5D7D7;

$summaryBorderRadius: 16px;