
p.current-incident-name {
    max-width: none;
    font-weight: 600;
    padding-top: 3px;
}

.current-incident-row {
    // min-height: 56px;
    padding: 8px 16px;
}

.current-incident-see-more {
    flex-shrink: 0;
    min-width: 90px;
}

.current-incident-text {
    padding-left: 4px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 78%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1px;
}

.see-more {
    border-radius: 0px 0px $summaryBorderRadius 0px;
}