
p.current-incident-name {
    max-width: none;
    font-weight: 600;
}

.current-incident-row {
    box-sizing: border-box;
    // min-height: 56px;
    padding: 8px 16px;
    
    [class*=wnd-StackItem].current-incident-see-more {
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 90px;
    }
}


.current-incident-text {
    padding-left: 4px;
    font-weight: 400;
}

.see-more {
    border-radius: 0px 0px $summaryBorderRadius 0px;
}