.btn-white, .btn-white:hover, .btn-white:active, .btn-white:focus {
    opacity: 0.6;
    background-color: white;
    border-width: 0 !important;
    box-shadow: none;
}

.summary-content {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
}

.summary-container {
    box-sizing: border-box;
    min-height: 48px;
    padding: 8px 16px;
    background-color: #f4f5f5;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #d5d7d7;
}

.summary-current-status {
    font-size: 2.5em;
    text-align: right;
    font-weight: 600;
}
