
@import "./styles/variables.scss";
@import "./styles/summary.scss";
@import "./styles/current-incidents.scss";
@import "./styles/toolbar.scss";

.minor {
    color: $minorColor;
}

.major {
    color: $majorColor
}
.critical {
    color: $criticalColor;
}

.status-page-container {
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    color:#616161;
}

.status-container {
    padding-top: 10px;
    padding-left: 5px;
}

.status-page-grid-item {
    padding: 5px 0px;
}

.no-status-pages {
    padding-top: 50%
}

.status-page-wrapper {
    border-radius: $summaryBorderRadius;
    background: $headerBackgroundColor;

    .status-page-container {
        background: white;
        border-radius: $summaryBorderRadius;
        border: 1px solid $statusPageBorder;
        padding: 10px;
    }
}