.suggested-status-page-title {
    text-align: center;
    padding-top: 45px;
}

.suggested-status-dependencies-container {
    padding: 5%;
    .relationships {
        padding: 4% 25%;
    }
    .relationship-text {
        flex: 3;
    }
    .relationship-item {
        display: flex;
        .selected {
            background-color: #A2E572;
        }
    }
}

.suggested-status-grid-container {
    padding: 3%;
    .selected {
        background: lightblue !important;
    }
    .status-page-wrapper {
        padding: 30px;
        cursor: pointer;
        border-radius: $summaryBorderRadius $summaryBorderRadius $summaryBorderRadius $summaryBorderRadius;
        background: $headerBackgroundColor;

        .use-check-box {
            position: relative;
            top: -5px;
            left: -11px;
        }
    }

}